[Desktop Entry]
Name=RemindMe
GenericName=RemindMe
Comment=Reminds important events
Comment[pl]=Przypomina o ważnych wydarzeniach
Exec=RemindMe
Icon=RemindMe
Terminal=false
Type=Application
Keywords=reminder;events
Categories=Office
