Package: RemindMe
Version: 1.0
Section: base
Priority: optional
Installed-Size: 230
Architecture: amd64
Depends: libaudio2, libc6 (>= 2.4), libglib2.0-0 (>= 2.14.0), libgtk-3-0 (>= 3.9.10), libnotify4 (>= 0.7.0), libopenal1 (>= 1.14)
Maintainer: Radosław Łukasik <radoslaw.lukasik@gmail.com>
Description: A program that reminds about important events.
